# Acquisition data structure
# If ACQROOT doesn't exist, use scripts/init_acq_folders.py to initialize them (or just to be sure).
ACQROOT="./DATA"  # PATH TO WHERE DATA, CONFIGS, AND LOGS WILL BE SAVED
DATA_PATH="${ACQROOT}/data"
CONFIGS_PATH="${ACQROOT}/configs"
LOGS_PATH="${ACQROOT}/logs"
